<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
    <title>This Side of the Pond   
    </title>
 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />       
    <meta name="generator" content="WordPress 2.8.4" /> <!-- leave this for stats -->
    
		<%= stylesheet_link_tag '960' %> 	
		<%= stylesheet_link_tag 'compressed' %> 		
	
			<%= stylesheet_link_tag 'insta' %> 

</head>

<body>   <!--start body-->

    <div class="container">   <!--start container-->
    
        <div id="header" class="column span-14">

        
            <div id="logo" class="column first">
            
                <div class="title">
									<h1><%= @topic.to_s.pluralize.capitalize %> in <%= @location.to_s.capitalize %></h1>
                </div>
        			
            
            </div>
            
        
        </div>   <!--end header-->

		<div id="topbanner" class="column span-14">   <!-- start top banner -->

       </div>   <!-- end top banner --> 
        
        <div id="home_content" class="column span-14">   <!-- start home_content -->
        
            <div id="home_left" class="column span-7 first">   <!-- start home_left -->
            
            	
				            
				        
				<div id="latest_post">   <!-- start latest_post -->

					<%= yield %>
							

				</div>   <!-- end latest_post -->

            
            </div>   <!-- end home_left -->
            
            
            <div id="home_right" class="column span-7 last">
            
            	<div id="home_about">
					
					<h3 class="mast3">Welcome to the premier site about <%= @topic.downcase %> in <%= @location %></h3>
					<img src="/temp_images/<%= @image %>"/>
										
					<address>Featuring fresh content and a directory of locations in the city</address>
					
									
				
				</div>
					
				<div class="column span-4 first">

            
					<h3 class="mast"><%= @topic.capitalize %> locations in <%= @location.capitalize %></h3>
						<%= render :partial => "companies/company", :collection => @companies[0..8] %> 
										

				<h3>Twitter resources on <%= @topic %></h3>
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'search',
				  search: '<%= @topic %>',
				  interval: 6000,
				  title: '<%= @topic %>',
				  subject: '',
				  width: 'auto',
				  height: 300,
				  theme: {
				    shell: {
				      background: '#8ec1da',
				      color: '#ffffff'
				    },
				    tweets: {
				      background: '#ffffff',
				      color: '#444444',
				      links: '#1985b5'
				    }
				  },
				  features: {
				    scrollbar: false,
				    loop: false,
				    live: true,
				    hashtags: true,
				    timestamp: true,
				    avatars: true,
				    behavior: 'default'
				  }
				}).render().start();
				</script>

      	
            	</div>
            
                                <div class="column span-3 last">
										              
                	<div id="side_categories">

            
						<h3 class="mast">More info about <%= @topic.downcase %></h3>
							<%= image_tag "adsense.png"  %> 
						
												
            		</div>

					<div id="calendar-2" class="widget widget_calendar"><h3 class="mast">&nbsp;</h3><div id="calendar_wrap">
						&nbsp;
        </div>   <!-- end home_content -->        
        
        
    
    </div> 
</body>  <!--end body-->

</html>
     

<!-- Dynamic Page Served (once) in 0.479 seconds -->
<!-- Cached page served by WP-Cache -->
